Repository krudi/astro-template: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:css, npm run lint:files

feat: add GitHub workflow configuration files
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/SECURITY.md
  .github/dependabot.yml
  .github/workflows/build-node.yml
Due: npm run lint:files

feat: add astrojs/node adapter for SSR
  .gitignore
  astro.config.mjs
  package-lock.json
  package.json
Due: none

feat: add recommended extensions for code-editor settings
  .vscode/extensions.json
  .vscode/settings.json
Due: none

fix: update configuration files
  .eslintrc.yml
  .gitignore
  .stylelintignore
Due: npm run lint:files

fix: typo in the not found page
  src/pages/404.astro
Due: npm run lint:files

fix: typo in the LICENSE file
  LICENSE
Due: none

feat: add grouped pull requests for dependabot
  .github/dependabot.yml
Due: npm run lint:files

feat: update Node.js in GitHub workflow to version v20
  .github/workflows/build-node.yml
Due: npm run lint:files

feat: update Node.js configuration
  .nvmrc
  package.json
Due: none

build: update GitHub actions/cache workflow to latest version
  .github/workflows/build-node.yml
Due: npm run lint:files

build: disable GitHub workflows
  off.github/CONTRIBUTING.md
  off.github/ISSUE_TEMPLATE/config.yml
  off.github/PULL_REQUEST_TEMPLATE.md
  off.github/SECURITY.md
  off.github/dependabot.yml
  off.github/workflows/build-node.yml
Due: npm run lint:files

style(prettier): run Prettier to clean up code formatting
  .eslintrc.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/dependabot.yml
  .github/workflows/build-frontend.yml
  .github/workflows/prepare-code-lint.yml
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  src/components/Footer.astro
  src/components/Global/Head.astro
  src/components/Header.astro
  src/components/Navigation.astro
  src/layouts/Default.astro
  src/pages/404.astro
  src/pages/index.astro
  src/styles/base/_base.css
  src/styles/base/_reset.css
  src/styles/base/_typography.css
  src/styles/base/index.css
  src/styles/elements/_footer.css
  src/styles/elements/_header.css
  src/styles/elements/_hr.css
  src/styles/elements/_main.css
  src/styles/elements/_navigation.css
  src/styles/elements/index.css
  src/styles/styles.css
  src/styles/utilities/_container.css
  src/styles/utilities/index.css
  src/styles/variables.css
  tsconfig.json
Due: npm run lint:css, npm run lint:files

build(deps): update required and dev dependencies
  package-lock.json
  package.json
Due: none

feat: add pwa icons
  public/manifest.json
  public/manifest.webmanifest
  public/manifest/desktop-home-screen-view.webp
  public/manifest/mobile-home-screen-view.webp
  src/components/Global/Head.astro
Due: npm run lint:files

feat: add dependabot group configuration
  .github/dependabot.yml
Due: npm run lint:files

fix: remove not used labels from PR of dependabot
  .github/dependabot.yml
Due: npm run lint:files

fix(linting): update Prettier linting issues in yaml and json files
  .github/dependabot.yml
  public/manifest.json
Due: npm run lint:files

fix: remove not needed ESlint types package
  package-lock.json
  package.json
Due: none

chore(node): update Node.js to latest LTS version
  .github/workflows/build-frontend.yml
  .github/workflows/prepare-code-lint.yml
  package.json
Due: npm run lint:files

chore: update copyright year in MIT License to 2025
  LICENSE
Due: none

fix: reorder and adjust rule definitions for Stylelint
  stylelint.config.mjs
Due: none

chore(deps): adjust Dependabot config and align package.json dependencies
  .github/dependabot.yml
  package-lock.json
  package.json
Due: npm run lint:files

refactor(favicon assets): remove old SVG files and replace with PNGs; update manifest and HTML head for new favicon paths and sizes
  public/browserconfig.xml
  public/favicons/android-icon-192x192.png
  public/favicons/apple-icon-114x114.png
  public/favicons/apple-icon-120x120.png
  public/favicons/apple-icon-144x144.png
  public/favicons/apple-icon-152x152.png
  public/favicons/apple-icon-180x180.png
  public/favicons/apple-icon-57x57.png
  public/favicons/apple-icon-60x60.png
  public/favicons/apple-icon-72x72.png
  public/favicons/apple-icon-76x76.png
  public/favicons/astro-144x144.svg
  public/favicons/astro-16x16.svg
  public/favicons/astro-192x192.svg
  public/favicons/astro-32x32.svg
  public/favicons/astro-48x48.svg
  public/favicons/astro-512x512.svg
  public/favicons/astro-apple-touch.svg
  public/favicons/astro-favicon.svg
  public/favicons/favicon-144x144.png
  public/favicons/favicon-16x16.png
  public/favicons/favicon-256x256.png
  public/favicons/favicon-32x32.png
  public/favicons/favicon-36x36.png
  public/favicons/favicon-48x48.png
  public/favicons/favicon-512x512.png
  public/favicons/favicon-72x72.png
  public/favicons/favicon-96x96.png
  public/favicons/favicon.ico
  public/favicons/ms-icon-144x144.png
  public/favicons/ms-icon-150x150.png
  public/favicons/ms-icon-310x310.png
  public/favicons/ms-icon-70x70.png
  public/manifest.json
  src/components/Global/Head.astro
Due: npm run lint:files

feat: update dependabot configuration and restore CONTRIBUTING and SECURITY documents
  .github/CODEOWNERS
  .github/CONTRIBUTING.md
  .github/SECURITY.md
  .github/dependabot.yml
Due: npm run lint:files

fix: update tsconfig.json to include and exclude specific files
  tsconfig.json
Due: none

fix: reorganize issue templates and GitHub workflows
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/config.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/dependabot.yaml
  .github/workflows/build-frontend.yaml
  .github/workflows/prepare-code-lint.yaml
Due: npm run lint:files

fix: reorganize configuration files for linting and deployment
  .eslintrc.yml
  astro.config.ts
  package.json
  postcss.config.ts
  prettier.config.ts
  stylelint.config.ts
  ‎eslint.config.ts
Due: npm run lint:js, npm run lint:files

feat: add patch update types for various dependency groups in dependabot configuration
  .github/dependabot.yaml
Due: npm run lint:files

fix: update rename wrong ESLint filename config
  eslint.config.ts
Due: npm run lint:js

refactor: remove redundant XML file extensions from lint scripts
  package.json
Due: none

refactor(lint) standardize quotes and formatting in configuration files
  .github/dependabot.yaml
  astro.config.ts
  postcss.config.ts
  prettier.config.ts
  stylelint.config.ts
  tsconfig.json
Due: npm run lint:js, npm run lint:files

build(deps): install jiti package for better TypeScript support
  package-lock.json
  package.json
Due: none

Path conditions:
  npm run lint:js: any of: *.{js,ts,jsx,tsx}
  npm run lint:css: any of: *.{css,scss}
  npm run lint:files: any of: *.{html,graphql,yml,yaml,astro}
